<h2>Application "<%= app_name %>" could not be started</h2>

<p>STDERR:</p>

<pre>
<%= exception.stderr.gsub('<', '&lt;') %>
</pre>

<p>STDOUT:</p>

<pre>
<%= exception.stdout.gsub('<', '&lt;') %>
</pre>

<p>ENV:</p>

<pre>
<%= exception.env.gsub('<', '&lt;') %>
</pre>
