<h2>Symlink for "<%= app_name %>" is not valid?</h2>

<p>Please check if <%= path %> points to correct place.</p>

<p>Also, if you symlinked UNIX socket please check if the app that is supposed to create this socket is running.</p>
