<h2>Shit! Internal Yeb Error</h2>

<h3><%= exception.class.to_s.gsub('<', '&lt;') + ': ' + exception.message.gsub('<', '&lt;') %></h3>

<pre>
<%= exception.backtrace.join("\n").gsub('<', '&lt;') %>
</pre>
